[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agno = "*"
notion-client = "*"
openai = "*"
response = "*"
duckduckgo-search = "*"
yfinance = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
uv = "*"

[dev-packages]

[requires]
python_version = "3.12"
